<div class="home-header">
    <h1>Vous avez vos plans, on a vos bons plans</h1>
  </div>
  
  <div class="features-container">
    <div class="feature">
      
      <h3>Vos trajets préférés à petits prix</h3>
      <p>Où que vous alliez, en bus ou en covoiturage, trouvez le trajet idéal parmi notre large choix de destinations à petits prix.</p>
    </div>
    <div class="feature">
      
      <h3>Voyagez en toute confiance</h3>
      <p>Nous prenons le temps qu’il faut pour connaître nos membres et nos compagnies de bus partenaires. Nous vérifions les avis, les profils et les pièces d’identité. Vous savez donc avec qui vous allez voyager pour réserver en toute confiance sur notre plateforme sécurisée.</p>
    </div>
    <div class="feature">
      
      <h3>Recherchez, cliquez et réservez !</h3>
      <p>Réserver un trajet devient encore plus simple ! Facile d'utilisation et dotée de technologies avancées, notre appli vous permet de réserver un trajet à proximité en un rien de temps.</p>
    </div>
  </div>
  