.home-header {
    height: 50vh; /* Hauteur de l'image */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url('/assets/images/photo.jpg'); /* Chemin de l'image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .features-container {
    display: flex;
    justify-content: space-around; /* Espacement entre les éléments */
    align-items: flex-start;
    text-align: center;
    padding: 40px;
    background-color: #f9f9f9; /* Couleur d'arrière-plan si nécessaire */
  }
  
  .feature {
    max-width: 300px; /* Limite la largeur des éléments */
  }
  
  .feature img {
    width: 50px; /* Taille des icônes */
    margin-bottom: 20px;
  }
  
  .feature h3 {
    color: #003366; /* Couleur des titres */
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .feature p {
    color: #666666;
    font-size: 14px;
    line-height: 1.6;
  }

  .home-header h1 {
  margin-top: -230px; /* Remonte le texte de 20px */
  position: relative; /* Assurez-vous qu'il est positionné relativement pour que le déplacement fonctionne */
}

  