<head>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  
  
  
  <!--  <nav class="navbar">
    <div class="navbar-logo">
      <span>CarGo</span>
      <p>Site covoiturage au tunisie</p>
    </div>
    <div class="navbar-links">
      
      <a href="#">Comment ça marche</a>
    </div>
    <div class="navbar-auth">
      <a href="#"><i class="fas fa-sign-in-alt"></i> Connexion</a>
      <a routerLink="/register"><i class="fas fa-pen"></i> S'inscrire</a>
  
  
  </div>
  </nav>
  
-->







<div class="container">

  <div class="header-banner">
    <h2>Connectez Vous</h2>
    <p>Si vous n'avez pas de compte <a [routerLink]="['/register']">S'inscrire</a></p>
  </div>

    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()" >
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" />
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
    </form>
</div>
